<header id="navbar">

  <div class="nav-container">

    <!-- Logo -->
    <a class="logo-wrap" href="../Pages/index.html">
      <img src="../assets/logo.jpeg" class="logo-img" alt="Finpro Advisors Logo">
      <div class="logo-text">
        <span class="logo-name">Finpro Advisors</span>
        <span class="logo-tagline">Tax Partner for Your Success</span>
      </div>
    </a>

    <!-- Hamburger -->
    <div id="hamburger" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <!-- Desktop Navigation -->
    <ul class="nav-links">

      <li><a href="/Pages/index.html">Home</a></li>

      <!-- Services -->
      <li class="has-dropdown">
        <a href="services.html">Services ▾</a>
        <ul class="dropdown">
          <li><a href="../services/tax-advisory.html">Tax Advisory</a></li>
          <li><a href="../services/licensing.html">Licensing</a></li>
          <li><a href="../services/statu-audit.html">Audit & Assurance</a></li>
          <li><a href="../services/compy-regis.html">Registration & Renewal</a></li>
          <li><a href="../services/consulting.html">Consulting</a></li>
        </ul>
      </li>

      <!-- Know Us -->
      <li> <a href="../Pages/about.html">About Us</a>
      </li>

      <li><a href="../Pages/industries.html">Industries</a></li>

      <li>
        <a href="../Pages/index.html#contact" class="nav-cta">Contact Us</a>
      </li>

    </ul>

  </div>


  <!-- Mobile Menu -->
  <div id="mobileMenu" class="mobile-menu">

    <a href="index.html">Home</a>

    <a href="services.html">Services</a>
    <a href="about.html">Know Us</a>

    <a href="industries.html">Industries</a>

    <a href="contact.html" class="nav-cta">Contact Us</a>

  </div>

</header>